---
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import PinnacleCarousel from '../../components/PinnacleCarousel';
import ImageDialog from '../../components/ImageDialog';
import items from './pinnacle-slides.json'
import '../../styles/global.css';
import '../../styles/md-render.css';
import '../../styles/carousel.css';
import "slick-carousel/slick/slick.css";
import "slick-carousel/slick/slick-theme.css";

const frontmatter = {
  title: 'Mira Crown Pinnacle Contest Guide',
  id: 'pinnacle-contest',
  lastUpdated: '08/01/2025',
  description: 'Recommendations and F2P examples for how you can clear the current Mira Crown Pinnacle Contest.',
  authors: ['Neptunya'],
  image: '/images/guides/pinnacle-contest/pinnacle_contest_banner.jpeg'
};

---
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<link rel="icon" type="image/png" href="/images/nikki_logo.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.0/dist/katex.min.css">
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={frontmatter.description}>
		
		<meta property="og:title" content={frontmatter.title}>
		<meta property="og:description" content={frontmatter.description}>
		<meta property="og:image" content={`https://infinitynikkilibrary.com${frontmatter.image}`}>
		<meta property="og:image:url" content={`https://infinitynikkilibrary.com${frontmatter.image}`}>
		<meta property="og:image:type" content="image/png" />
		<meta property="og:url" content={`https://infinitynikkilibrary.com/${frontmatter.id}`}>
		<meta property="og:type" content="website">
		
		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content={frontmatter.title}>
		<meta name="twitter:description" content={frontmatter.description}>
		<meta name="twitter:image" content={`https://infinitynikkilibrary.com${frontmatter.image}`}>
		
		<title>{frontmatter.title} | INL</title>
		
	</head>
	<body>
		<Header />
        <ImageDialog client:only="react" />
        <div 
			class="banner-container guide-banner" 
			id={frontmatter.id + "-banner"}
			style={`background-image: url(${frontmatter.image});`}
		></div>
		<div class="content-container md-content" id={frontmatter.id}>
			<h1>Mira Crown Pinnacle Contest Guide</h1>
            <p>
                Last Updated: 08/01/2025<br>
                By: Neptunya<br>
                Redeem Code: AAuwCjtcXkR
            </p>
            <PinnacleCarousel items={items} client:load />
        	
			<div style="margin: 2rem"></div>
			
			<h2>Additional Resources</h2>
			<div class="link-container">
				<a class="ext-link" href="https://discord.gg/infinitynikki" target="_blank">
					<div class="ext-link-card">
						<img src="/images/nikki_icons/1-0-2_9.png" class="link-icon">
						<p class="link-text"><u>Official Infinity Nikki Discord</u><br>Come check out #strategy-help!</p>
					</div>
				</a>
				<a class="ext-link" href="https://docs.google.com/spreadsheets/d/1j4Ype6Q6hFXL1KTdutLQKWYilFkRQk6oW6BjXibUM4g/edit?usp=sharing" target="_blank">
					<div class="ext-link-card">
						<img src="/images/nikki_icons/1-0-2_1.png" class="link-icon">
						<p class="link-text"><u>Score Tracker</u><br>By: Rani and KittenFacedWitch</p>
					</div>
				</a>
				<a class="ext-link" href="https://docs.google.com/spreadsheets/d/1Q5yjX8roIyIRvaddOEI24hEBq4JZtSQ-7x61rFvyrds/edit?usp=sharing" target="_blank">
					<div class="ext-link-card">
						<img src="/images/nikki_icons/1-0-1_8.png" class="link-icon">
						<p class="link-text"><u>Styling Challenge Score Calculator</u></p>
					</div>
				</a>
				<a class="ext-link" href="https://docs.google.com/document/d/1HS3rRGz3Ytm-tJkUBmiF5vETcT4EP9zB2a8-4xWgIrU/edit?usp=sharing" target="_blank">
					<div class="ext-link-card">
						<img src="/images/nikki_icons/1-0-3_3.png" class="link-icon">
						<p class="link-text"><u>Definitive Guide</u><br>By: Purple Cosmonaut and Moon</p>
					</div>
				</a>
			</div>
			<div style="margin: 2rem"></div>
		</div>
        <Footer />
		<script>
			import "../../scripts/resize.js";
		</script>
    </body>
</html>