---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const guides = await Astro.glob('./guides/*.md');
const tools = await Astro.glob('./tools/*.md');
---
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<link rel="icon" type="image/png" href="/images/nikki_logo.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<meta name="keywords" content="Infinity, Nikki, IN, Library, Information, Guides, Compendium, Resources">
		<meta name="description" content="A compendium of information and guides for Infinity Nikki, curated by your fellow stylists in Miraland.">
		<meta name="viewport" content="width=device-width" />
		
		<meta property="og:title" content="Infinity Nikki Library Guides">
		<meta property="og:description" content="A compendium of information and guides for Infinity Nikki, curated by your fellow stylists in Miraland.">
		<meta property="og:image" content="https://infinitynikkilibrary.com/images/nikki_embed.png">
		<meta property="og:image:url" content="https://infinitynikkilibrary.com/images/nikki_embed.png">
		<meta property="og:image:type" content="image/png" />
		<meta property="og:url" content="https://infinitynikkilibrary.com/guides">
		<meta property="og:type" content="website">
		
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Infinity Nikki Library Guides">
		<meta name="twitter:description" content="A compendium of information and guides for Infinity Nikki, curated by your fellow stylists in Miraland.">
		<meta name="twitter:image" content="https://infinitynikkilibrary.com/images/nikki_embed.png">
		
		<title>Guides | INL</title>
	</head>
	<body>
		<Header />
		<div class="banner-container" id="guides-banner"></div>
		<div class="content-container">
			<div class="links">
				<div class="guides-tools">
					<h2>Guides</h2>
					
					<div id="guides-list" class="guides-grid">
						{guides
							.sort((a, b) => new Date(b.frontmatter.lastUpdated).getTime() - new Date(a.frontmatter.lastUpdated).getTime())
							.map(guide => (
							<a href={guide.url} class="guide-card-link">
								<div class="guide-card">
									<img src={guide.frontmatter.image} alt={guide.frontmatter.title} />
									<div class="guide-card-text">
										<h3>{guide.frontmatter.title}</h3>
										<p>
											By: {guide.frontmatter.authors.join(", ")} <br/>
											Last Updated: {guide.frontmatter.lastUpdated} <br/>
											{guide.frontmatter.description}
										</p>
									</div>
								</div>
							</a>
						))}
					</div>
				</div>
				<div class="external">
					<h2>Tools</h2>
					<a class="ext-link" href="/database">
						<div class="ext-link-card">
							<img src="/images/nikki_icons/1-6_16.png" class="link-icon">
							<p class="link-text">Clothing Database + Tracker</p>
						</div>
					</a>
					<a class="ext-link" href="/tools/resonance-calculator">
						<div class="ext-link-card">
							<img src="/images/nikki_icons/1-5_13.png" class="link-icon">
							<p class="link-text">Resonance Calculator</p>
						</div>
					</a>
					
					<h2>External Links</h2>
					
					<a class="ext-link" href="https://pearpal.infoldgames.com/en/home" target="_blank">
						<div class="ext-link-card">
							<img src="/images/nikki_icons/1-3_15.png" class="link-icon">
							<p class="link-text">Pear-fect Guides</p>
						</div>
					</a>
					
					<a class="ext-link" href="https://docs.google.com/spreadsheets/d/1Q5yjX8roIyIRvaddOEI24hEBq4JZtSQ-7x61rFvyrds/edit?usp=sharing" target="_blank">
						<div class="ext-link-card">
							<img src="/images/nikki_icons/1-0-1_8.png" class="link-icon">
							<p class="link-text">Styling Challenge Score Calculator</p>
						</div>
					</a>
					
					<a class="ext-link" href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRAIMu_ZaMixERauwCyLTJmBJkO-ouqQlbdbeQmpESgMyijzNMXfiT5iIKNftkyUr4egEO_PlCGJwOw/pubhtml" target="_blank">
						<div class="ext-link-card">
							<img src="/images/nikki_icons/1-4_8.png" class="link-icon">
							<p class="link-text">Outfits Ranked by Contest Score</p>
						</div>
					</a>
					
				</div>
			</div>
		</div>
		<Footer />
		<script>
			import "../scripts/resize.js";
		</script>
	</body>
</html>