---
const { frontmatter } = Astro.props;
import '../styles/global.css';
import '../styles/md-render.css'
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<link rel="icon" type="image/png" href="/images/nikki_logo.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.0/dist/katex.min.css">
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={frontmatter.description}>
		
		<meta property="og:title" content={frontmatter.title}>
		<meta property="og:description" content={frontmatter.description}>
		<meta property="og:image" content={`https://infinitynikkilibrary.com${frontmatter.image}`}>
		<meta property="og:image:url" content={`https://infinitynikkilibrary.com${frontmatter.image}`}>
		<meta property="og:image:type" content="image/png" />
		<meta property="og:url" content={`https://infinitynikkilibrary.com/${frontmatter.id}`}>
		<meta property="og:type" content="website">
		
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content={frontmatter.title}>
		<meta name="twitter:description" content={frontmatter.description}>
		<meta name="twitter:image" content={`https://infinitynikkilibrary.com${frontmatter.image}`}>
		
		<title>{frontmatter.title} | INL</title>
		
	</head>
	<body>
		<Header />
        <div 
			class="banner-container guide-banner" 
			id={frontmatter.id + "-banner"}
			style={`background-image: url(${frontmatter.image});`}
		></div>
		<div class="content-container md-content">
			<slot />
		</div>
        <Footer />
		<script>
			import "../scripts/resize.js";
		</script>
    </body>
</html>


